<!--footer-bg start-->
<div class="footer-bg">

<div class="footer">
<div class="left"><p>Copyright © 2011Seasia Consulting. All rights reserved</p></div>

<div class="right">
<a href="#">Terms of Use</a> |
<a href="#">Privacy Policy</a>
</div>
</div>

</div>
<!--footer-bg end-->
